@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;600;700&family=Bellefair&family=Inter:wght@400;500;700&family=Karla:wght@400;500;700&display=swap');
$breakpoint-small: 375px;
$scissors: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
$paper: radial-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
$rock: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);


* {
    margin: 0;
    padding: 0;
}

@media (max-width: #{$breakpoint-small}) {
    .conteiner {
        width: 100%;
        height: 100vh;
        background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
        box-sizing: border-box;
        
    }
    .cont-header {
        display: flex;
        justify-content: center;
        gap: 100px;
        outline: 2px solid hsl(217, 16%, 45%);
        width: 300px;
        color: #fff;
        position: relative;
        top: 40px;
        margin: auto;
        padding: 10px;
        border-radius: 5px;
    }
    .header-text {
        font-family: Barlow , sans-serif;
        font-weight: 700;
    }
    .cont-header-score {
        background-color: hsl(0, 0%, 89%);
        color: hsl(229, 64%, 46%);
        font-family: Barlow ,sans-serif;
        width: 60px;
        border-radius: 5px;
        text-align: center;
    }
    .score-text {
        font-size: 10px;
        padding-top: 5px;
        font-weight: 600;
        color: hsl(229, 25%, 31%);
    }
    .score {
        color: hsl(229, 25%, 31%);
        font-size: 30px;
        font-weight: 700;
    }
    .cont-main {
        background-image: url('/src/assets/images/bg-triangle.svg');
        background-repeat: no-repeat;
        background-size: 240px;
        background-position: center;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        text-align: center;
        margin-top: 130px;
        width: 100%;
        height: 240px;
        
    }
    .cont-main-elem-paper {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(230, 89%, 62%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-left: 50px;
       
    }
    .cont-main-elem-paper img {
        padding-top: 10px;
    }
    .cont-main-elem-scissors {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(39, 89%, 49%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-left: 50px;
        
    }
    .cont-main-elem-scissors img {
        padding-top: 10px;
    }
    .cont-main-elem-rock {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(349, 71%, 52%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        grid-column: 2;
        margin-left: -40px;
        margin-top: 30px;
    }
    .cont-main-elem-rock img {
        padding-top: 15px;
    }
    .cont-botom {
        text-align: center;
        margin-top: 80px;
    }
    .btn {
        font-family: Barlow , sans-serif;
        font-weight: 600;
        background-color: hsl(0, 0%, 89%);
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: none;
        margin: 10px;
        color: hsl(229, 25%, 31%);
        letter-spacing: 2px;
    }
    .cont-rules {
        height: 667px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 80px;
        background-color: #fff;
        margin-top: 80px;
    }
    .cont-rules-title {
        font-family: Barlow ,sans-serif;
        font-weight: 700;
        color: hsl(229, 25%, 31%);
        
    }
    .img-rules {
        width: 300px;
    }
}
