@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;600;700&family=Bellefair&family=Inter:wght@400;500;700&family=Karla:wght@400;500;700&display=swap');
$breakpoint-small: 556px;
$breakpoint-mid: 556px;
$scissors: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
$paper: radial-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
$rock: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);


* {
    margin: 0;
    padding: 0;
}

@media (max-width: #{$breakpoint-small}) {
    .conteiner {
        width: 100%;
        height: 100vh;
        background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
        box-sizing: border-box;
        overflow:hidden ;
    }
    .home-title {
        color: #fff;
        font-family: Barlow ,sans-serif;
        text-align: center;
        padding-top: 40px;
    }
    .home-cont {
        text-align: center;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        align-items: center;
        padding-right: 10px;
    }
    .home-cont-img {
        display: flex;
    }
    .cont-main-elem-paper-home {
        background-color: hsl(0, 0%, 89%);
        outline: 5px solid hsl(230, 89%, 62%);;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
         
    }
    .cont-main-elem-paper-home img{
      width: 25px;
      padding-top: 10px;
    }
    .cont-main-elem-rock-home {
        background-color: hsl(0, 0%, 89%);
        outline: 5px solid hsl(349, 71%, 52%);;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
         
    }
    .cont-main-elem-rock-home img{
      width: 25px;
      padding-top: 12px;
    }
    .cont-main-elem-scissors-home {
        background-color: hsl(0, 0%, 89%);
        outline: 5px solid hsl(39, 89%, 49%);;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
         
    }
    .cont-main-elem-scissors-home img{
      width: 25px;
      padding-top: 10px;
    }
    .cont-main-elem-lizard-home {
        background-color: hsl(0, 0%, 89%);
        outline: 5px solid hsl(261, 73%, 60%);;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
         
    }
    .cont-main-elem-lizard-home img{
      width: 25px;
      padding-top: 13px;
    }
    .cont-main-elem-spock-home {
        background-color: hsl(0, 0%, 89%);
        outline: 5px solid hsl(189, 59%, 53%);;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
         
    }
    .cont-main-elem-spock-home img{
      width: 25px;
      padding-top: 7px;
      padding-left: 4px;
    }
    .home-btn {
        font-family: Barlow , sans-serif;
        font-weight: 600;
        background-color: hsl(0, 0%, 89%);
        width: 120px;
        height: 40px;
        border-radius: 5px;
        border: none;
        margin: 10px;
        color: hsl(229, 25%, 31%);
        letter-spacing: 2px;
    }
    .home-text {
        color:#fff;
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
    }
    .cont-header {
        display: flex;
        justify-content: center;
        gap: 100px;
        outline: 2px solid hsl(217, 16%, 45%);
        width: 300px;
        color: #fff;
        position: relative;
        top: 40px;
        margin: auto;
        padding: 10px;
        border-radius: 5px;
    }
    .header-text-rpsls {
        font-family: Barlow , sans-serif;
        font-weight: 700;
        font-size: 11px;
    }
    .header-text {
        font-family: Barlow , sans-serif;
        font-weight: 700;
    }
    .cont-header-score {
        background-color: hsl(0, 0%, 89%);
        color: hsl(229, 64%, 46%);
        font-family: Barlow ,sans-serif;
        width: 60px;
        border-radius: 5px;
        text-align: center;
    }
    .score-text {
        font-size: 10px;
        padding-top: 5px;
        font-weight: 600;
        color: hsl(229, 25%, 31%);
    }
    .score {
        color: hsl(229, 25%, 31%);
        font-size: 30px;
        font-weight: 700;
    }
    .cont-main {
        background-image: url('/src/assets/images/bg-triangle.svg');
        background-repeat: no-repeat;
        background-size: 240px;
        background-position: center;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        text-align: center;
        margin-top: 130px;
        width: 100%;
        height: 240px;
        margin-bottom: 50px;
    }
    .cont-main-rpsls {
        background-image: url('/src/assets/images/bg-pentagon.svg');
        background-repeat: no-repeat;
        background-size: 240px;
        background-position: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        text-align: center;
        margin-top: 130px;
        width: 100%;
        height: 240px;
        margin-bottom: 50px;
    }
    .cont-main-elem-paper-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(230, 89%, 62%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-left: 60px;
        margin-top: 70px;
       grid-column: 2;
    }
    .cont-main-elem-paper-rpsls img {
        padding-top: 10px;
    }
    .cont-main-elem-scissors-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(39, 89%, 49%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-right: -40px;
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
    }
    .cont-main-elem-spock-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(189, 59%, 53%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        grid-row: 2;
        margin-top: -80px;
        margin-right: 50px;
        justify-self: end;
    }
    .cont-main-elem-spock-rpsls img {
        padding-left: 6px;
        padding-top: 7px;
    }
    .cont-main-elem-rock-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(349, 71%, 52%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        grid-column: 2;
        grid-row: 2;
       margin-left: 50px;
       margin-top: 30px;
    }
    .cont-main-elem-rock-rpsls img {
        padding-top: 13px;
    }
    .cont-main-elem-lizard-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(261, 73%, 60%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        justify-self: end;
        margin-top: -80px;
        margin-right: 40px;
    }
    .cont-main-elem-lizard-rpsls img {
        width: 50px;
        padding-top: 13px;
    }
    .cont-main-elem-paper {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(230, 89%, 62%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-right: 50px;
        justify-self: end;
    }
    .cont-main-elem-paper-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(230, 89%, 62%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
         
    }
    .cont-main-elem-lizard-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(261, 73%, 60%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
    }
    .cont-main-elem-lizard-selected img {
        padding-top: 19px;
    }
    .cont-main-elem-spock-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(189, 59%, 53%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
    }
    .cont-main-elem-spock-selected img {
        padding-top: 19px;
        padding-left: 5px;
    }
    .cont-main-elem-paper img {
        padding-top: 10px;
    }
    .cont-main-elem-paper-selected img {
        padding-top: 15px;
        width: 55px;
    }
    .cont-main-elem-scissors {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(39, 89%, 49%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-left: 50px;
        
    }
    .cont-main-elem-scissors img {
        padding-top: 10px;
    }
    .cont-main-elem-scissors-rpsls img {
        padding-top: 10px;
    }
    .cont-main-elem-scissors-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(39, 89%, 49%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;        
        
    }
    .cont-main-elem-scissors-selected img {
        padding-top: 20px;
        width: 55px;
    }
    .cont-main-elem-rock {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(349, 71%, 52%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        grid-column: 2;
        margin-left: -40px;
        margin-top: 30px;
    }
    .cont-main-elem-rock img {
        padding-top: 15px;
        
    }
    .cont-main-elem-rock-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(349, 71%, 52%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
        
    }
    .cont-main-elem-rock-selected img {
        padding-top: 25px;
        width: 55px;
    }
    .cont-botom {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn {
        font-family: Barlow , sans-serif;
        font-weight: 600;
        background-color: hsl(0, 0%, 89%);
        width: 130px;
        height: 40px;
        border-radius: 5px;
        border: none;
        margin: 10px;
        color: hsl(229, 25%, 31%);
        letter-spacing: 2px;
    }
    .cont-rules {
        height: 667px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 80px;
        background-color: #fff;
    }
    .cont-rules-title {
        font-family: Barlow ,sans-serif;
        font-weight: 700;
        color: hsl(229, 25%, 31%);
        
    }
    .img-rules {
        width: 300px;
    }
    .cont-match {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 130px;
        margin-bottom: 50px;
        width: 100%;
        height: 120px;
        gap: 80px;
    }
    .resoult-text {
        color: #fff;
        font-size: 30px;
        font-family: Barlow , sans-serif;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.4rem;
    }
    .cont-match-sub {
        text-align: center;
    }
    .btn-playagain {
        font-family: Barlow , sans-serif;
        font-weight: 600;
        background-color: hsl(0, 0%, 89%);
        width: 130px;
        height: 40px;
        border-radius: 5px;
        border: none;
        color: hsl(229, 25%, 31%);
        letter-spacing: 2px;
        margin-top: 90px;
        margin-bottom: 10px;
    }
}
@media (min-width: #{$breakpoint-mid}) {
    .conteiner {
        width: 100%;
        height: 100vh;
        background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
        box-sizing: border-box;
        overflow:hidden ;
    }
    .home-title {
        color: #fff;
        font-family: Barlow ,sans-serif;
        text-align: center;
        padding-top: 40px;
    }
    .home-cont {
        text-align: center;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        align-items: center;
        padding-right: 10px;
    }
    .home-cont-img {
        display: flex;
    }
    .cont-main-elem-paper-home {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(230, 89%, 62%);;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        text-align: center;
         
    }
    .cont-main-elem-paper-home img{
      width: 60px;
      padding-top: 20px;
    }
    .cont-main-elem-rock-home {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(349, 71%, 52%);;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        text-align: center;
         
    }
    .cont-main-elem-rock-home img{
      width: 60px;
      padding-top: 28px;
    }
    .cont-main-elem-scissors-home {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(39, 89%, 49%);;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        text-align: center;
         
    }
    .cont-main-elem-scissors-home img{
      width: 60px;
      padding-top: 25px;
    }
    .cont-main-elem-lizard-home {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(261, 73%, 60%);;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        text-align: center;
         
    }
    .cont-main-elem-lizard-home img{
      width: 60px;
      padding-top: 26px;
    }
    .cont-main-elem-spock-home {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(189, 59%, 53%);;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        text-align: center;
         
    }
    .cont-main-elem-spock-home img{
      width: 60px;
      padding-top: 16px;
      padding-left: 12px;
    }
    .home-btn {
        font-family: Barlow , sans-serif;
        font-weight: 600;
        background-color: hsl(0, 0%, 89%);
        width: 120px;
        height: 40px;
        border-radius: 5px;
        border: none;
        margin: 10px;
        color: hsl(229, 25%, 31%);
        letter-spacing: 2px;
        cursor: pointer;
    }
    .home-btn:hover {
        background: linear-gradient(56deg, rgba(23,64,226,1) 0%, rgba(248,184,41,0.851278182171306) 47%, rgba(195,43,35,0.851278182171306) 86%);;
    }
    .home-text {
        color:#fff;
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
    }
    .cont-header {
        display: flex;
        justify-content: center;
        gap: 100px;
        outline: 2px solid hsl(217, 16%, 45%);
        width: 300px;
        color: #fff;
        position: relative;
        top: 40px;
        margin: auto;
        padding: 10px;
        border-radius: 5px;
    }
    .header-text-rpsls {
        font-family: Barlow , sans-serif;
        font-weight: 700;
        font-size: 11px;
    }
    .header-text {
        font-family: Barlow , sans-serif;
        font-weight: 700;
    }
    .cont-header-score {
        background-color: hsl(0, 0%, 89%);
        color: hsl(229, 64%, 46%);
        font-family: Barlow ,sans-serif;
        width: 60px;
        border-radius: 5px;
        text-align: center;
    }
    .score-text {
        font-size: 10px;
        padding-top: 5px;
        font-weight: 600;
        color: hsl(229, 25%, 31%);
    }
    .score {
        color: hsl(229, 25%, 31%);
        font-size: 30px;
        font-weight: 700;
    }
    .cont-main {
        background-image: url('/src/assets/images/bg-triangle.svg');
        background-repeat: no-repeat;
        background-size: 240px;
        background-position: center;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        text-align: center;
        margin-top: 130px;
        width: 100%;
        height: 240px;
        margin-bottom: 50px;
    }
    .cont-main-rpsls {
        background-image: url('/src/assets/images/bg-pentagon.svg');
        background-repeat: no-repeat;
        background-size: 240px;
        background-position: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        text-align: center;
        margin-top: 130px;
        width: 100%;
        height: 240px;
        margin-bottom: 50px;
    }
    .cont-main-elem-paper-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(230, 89%, 62%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-left: 60px;
        margin-top: 70px;
       grid-column: 2;
    }
    .cont-main-elem-paper-rpsls img {
        padding-top: 10px;
    }
    .cont-main-elem-scissors-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(39, 89%, 49%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-right: -40px;
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
    }
    .cont-main-elem-spock-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(189, 59%, 53%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        grid-row: 2;
        margin-top: -80px;
        margin-right: 50px;
        justify-self: end;
    }
    .cont-main-elem-spock-rpsls img {
        padding-left: 6px;
        padding-top: 7px;
    }
    .cont-main-elem-rock-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(349, 71%, 52%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        grid-column: 2;
        grid-row: 2;
       margin-left: 50px;
       margin-top: 30px;
    }
    .cont-main-elem-rock-rpsls img {
        padding-top: 13px;
    }
    .cont-main-elem-lizard-rpsls {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(261, 73%, 60%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        justify-self: end;
        margin-top: -80px;
        margin-right: 40px;
    }
    .cont-main-elem-lizard-rpsls img {
        width: 50px;
        padding-top: 13px;
    }
    .cont-main-elem-paper {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(230, 89%, 62%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-right: 50px;
       justify-self: end;
    }
    .cont-main-elem-paper-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(230, 89%, 62%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
         
    }
    .cont-main-elem-lizard-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(261, 73%, 60%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
    }
    .cont-main-elem-lizard-selected img {
        padding-top: 19px;
    }
    .cont-main-elem-spock-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(189, 59%, 53%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
    }
    .cont-main-elem-spock-selected img {
        padding-top: 19px;
        padding-left: 5px;
    }
    .cont-main-elem-paper img {
        padding-top: 10px;
    }
    .cont-main-elem-paper-selected img {
        padding-top: 15px;
        width: 55px;
    }
    .cont-main-elem-scissors {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(39, 89%, 49%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-left: 50px;
        
    }
    .cont-main-elem-scissors img {
        padding-top: 10px;
    }
    .cont-main-elem-scissors-rpsls img {
        padding-top: 10px;
    }
    .cont-main-elem-scissors-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(39, 89%, 49%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;        
        
    }
    .cont-main-elem-scissors-selected img {
        padding-top: 20px;
        width: 55px;
    }
    .cont-main-elem-rock {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(349, 71%, 52%);;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        grid-column: 2;
        margin-left: -40px;
        margin-top: 30px;
    }
    .cont-main-elem-rock img {
        padding-top: 15px;
        
    }
    .cont-main-elem-rock-selected {
        background-color: hsl(0, 0%, 89%);
        outline: 10px solid hsl(349, 71%, 52%);;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
        
    }
    .cont-main-elem-rock-selected img {
        padding-top: 25px;
        width: 55px;
    }
    .cont-botom {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn {
        font-family: Barlow , sans-serif;
        font-weight: 600;
        background-color: hsl(0, 0%, 89%);
        width: 130px;
        height: 40px;
        border-radius: 5px;
        border: none;
        margin: 10px;
        color: hsl(229, 25%, 31%);
        letter-spacing: 2px;
    }
    .cont-rules {
        height: 667px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 80px;
        background-color: #fff;
    }
    .cont-rules-title {
        font-family: Barlow ,sans-serif;
        font-weight: 700;
        color: hsl(229, 25%, 31%);
        
    }
    .img-rules {
        width: 300px;
    }
    .cont-match {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 130px;
        margin-bottom: 50px;
        width: 100%;
        height: 120px;
        gap: 80px;
    }
    .resoult-text {
        color: #fff;
        font-size: 30px;
        font-family: Barlow , sans-serif;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.4rem;
    }
    .cont-match-sub {
        text-align: center;
    }
    .btn-playagain {
        font-family: Barlow , sans-serif;
        font-weight: 600;
        background-color: hsl(0, 0%, 89%);
        width: 130px;
        height: 40px;
        border-radius: 5px;
        border: none;
        color: hsl(229, 25%, 31%);
        letter-spacing: 2px;
        margin-top: 90px;
        margin-bottom: 10px;
    }
}